# Frontend build

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/\*.local
frontend/.next
legacy-frontend

# VS Code files

.vscode/

# Mac files

\*.DS_Store

# Local files

local/\*
frontend/run_frontend
backend/run_backend
backend/.air.toml
.secrets

# Ignore Git-related files

.git
.gitignore

# Ignore Docker-related files that shouldn't be copied

docker-compose.yml
docker_local_build.sh
docker_local_beta_build.sh
