# Frontend build
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# VS Code files
.vscode/*

# Mac files
*.DS_Store

# Local files 
local/*
backend/run_backend
backend/.air.toml
*.graphql
.secrets
